DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=

BREVO_API_KEY=
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=

PASSWORD_RESET_TTL=
FRONTEND_URL=

CORS_ORIGINS=

OAUTH_LOGIN_TOKEN_TTL=